<footer class="bg-dark">
    <div class="container-fluid" data-bs-theme="dark">
        <div class="row">
            <div class="separacion"></div> 
        </div> 
        <div class="row mt-4">
            <div class="col-md-4">
                <p class="text-center">Copyright &copy; 2023 Kenko Assian Food</p>
            </div>
            <div class="col-md-4 text-center">
                <a class="m-2" href="https://www.twiter.com"><i class="bi-twitter ico"></i></a>
                <a class="m-2" href="https://www.instagram.com"><i class="bi-instagram ico"></i></a>
                <a class="m-2" href="https://www.facebook.com"><i class="bi-facebook ico"></i></a>
                <a class="m-2" href="https://www.linkedin.com"><i class="bi-linkedin ico"></i></a>
                <a class="m-2" href="https://www.tiktok.com"><i class="bi-tiktok ico"></i></a>
            </div>
            <div class="col-md-4">
                <p class="text-center mt-3 mt-md-0">Aviso Legal | Politica de Privacidad</p>
            </div>
        </div>
    </div>
</footer>