<header>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar d-flex align-items-center text-center nav roboto_font navbar-expand-md"> <!--  /nav/  clase creada para cambiar la fuente -->

                <div class="col-12 col-md-4 m-3 m-md-0">
                    <a class="navbar-brand" href="">
                        <img class="logo" alt="logo kenko" src="../../../assets/images/kenko_blanco.png"> <!--  /logo/  clase creada para cambiar las dimensiones del logo-->
                    </a>           
                </div>

                <div class="col-md-4 d-flex align-items-center mx-auto m-4 m-md-0 ">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">              
                    
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item p-2">
                                <a class="nav-link m-2"  routerLink="/carta" >La Carta</a>   
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link m-2"  routerLink="/reservas">Reservas</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link m-2" routerLink="/informacion">Información</a>
                            </li>         
                        </ul>
                    </div>

                </div>

                <div class="mb-3 mb-md-0 col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-lg-center justify-content-md-end">

                    <div class="dropdown">
                        <button class="btn dropdown-toggle miBoton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-person-circle m-3 ico"></i>
                        </button>
                        
                        <ul class="dropdown-menu">

                            <!--Estas dos etiquetas se mostraran solo a los usuarios que no han iniciado sesión-->
                                <li><a class="dropdown-item"  routerLink="/register" >Registrarse</a></li>
                                <li><a class="dropdown-item" routerLink="/login" >Iniciar Sesión</a></li>  
                                <li><a class="dropdown-item" (click)="usuariosService.logout()" *ngIf="usuariosService.isAuth()">Cerrar Sesión</a></li>
                                <li><a class="dropdown-item" *ngIf="usuariosService.isAuth()">Perfil</a></li> 
                        </ul>
                    </div>

                    <a routerLink="/carrito">
                        <i class="bi-cart2 ico m-3" *ngIf="carritoService.carrito.length === 0" placement="bottom" ngbTooltip="No has añadido productos"></i>
                        <i class="bi-cart2 ico m-3" *ngIf="carritoService.carrito.length > 0"></i>
                    </a>
                </div>       
            </nav>
        </div>
    </div>
    <div class="separacion"><!--  /separacion/  clase creada para la imagen que separa el header del resto del body -->
    </div> 

</header>
