<app-header></app-header>
<div class="container contenido">
    <div class="row ">

      <!-- NAV -->

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link bebas_font tit" (click)="cambiarPestana('pedidos')" [ngClass]="{'active': active === 'pedidos'}">Pedidos</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link bebas_font tit" (click)="cambiarPestana('reservas')" [ngClass]="{'active': active === 'reservas'}">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bebas_font tit" (click)="cambiarPestana('productos')" [ngClass]="{'active': active === 'productos'}">Productos</a>
        </li>
      </ul>
      
      <!-- PEDIDOS -->

      <div *ngIf="active === 'pedidos'">     
        <table class="table mt-3 w-100">
          <thead>
            <tr>
              <th>ID del Pedido</th>
              <th>Dirección de Entrega</th>
              <th>Productos</th>
              <th class="text-center">Unidades</th> <!-- Nueva columna para las unidades -->
              <th class="text-center">ID del Usuario</th>
              <th class="text-center">Importe Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos">
              <td>{{ pedido._id }}</td>
              <td>{{ pedido.direccion }}</td>
              <td>
                <ul>
                  <li *ngFor="let producto of pedido.productos">
                    {{ producto.producto.nombre }}
                  </li>
                </ul>
              </td>
              <td class="text-center">
                <ul>
                  <li *ngFor="let producto of pedido.productos">
                    {{ producto.unidades }} 
                  </li>
                </ul>
              </td>
              <td class="text-center">{{ obtenerNombreUsuario(pedido.user_id) }}</td>
              <td class="text-center">{{ calcularImporteTotal(pedido) }} €</td>
              <td>
                <button class="btn btn-secondary mx-2" (click)="abrirModalEditarPedido(pedido._id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger" (click)="eliminarPedido(pedido._id)">
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- RESERVAS -->

      <div *ngIf="active==='reservas';">     
        <table class="table mt-3">
          <thead>
            <tr>
              <th>ID de la Reserva</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Número de Personas</th>
              <th>Hora</th>
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="reservasHoy.length > 0; else noReservas">
              <tr *ngFor="let reserva of reservasHoy">
                <td>{{ reserva._id }}</td>
                <td>{{ reserva.nombre }}</td>
                <td>{{ reserva.email }}</td>
                <td>{{ reserva.numPer }}</td>
                <td>{{ reserva.hora }}</td>
                <td>{{ reserva.observaciones }}</td>
              </tr>
            </ng-container>
            <ng-template #noReservas>
              <p>No hay reservas hoy.</p>
            </ng-template>
          </tbody>
        </table>
      </div>
      
      <!-- PRODUCTOS -->
    
    </div>
  </div>
<app-footer></app-footer>