@font-face {
    font-family: 'Lato-Light';
    src: url(../../../../assets/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: 'BebasNeue';
    src: url(../../../../assets/fonts/BebasNeue.ttf);
}
.bebas_font{
    font-family: 'BebasNeue';
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    width: 450px; /* Ancho deseado */
    height: auto; /* Altura deseada */
    padding: 20px; /* Opcional: Agregar relleno al contenido */
  }

.logo{
    height: 150px;
    width: auto;    
    margin-left: 50px;
    margin-bottom: 50px;
}

.card {
    font-family: 'Lato-Light';
    color: rgb(225, 217, 183);
    font-size: 18px;
}

.form-control{
    background-color: rgb(225, 217, 183, 0.1);
}

button{
    font-family: 'Lato-Light';
    color: rgb(225, 217, 183);
    font-size: 18px;
}
.back {
    text-decoration: none;
    color: rgb(225, 217, 183);     
}


