<app-header></app-header>
<section class="container background-section">
    <div class="row mt-5 text-center">
        <h1 class="bebas_font titulo_vista">La Carta</h1>
    </div>

    <div class="row">
        <div class="col-12 col-xl-9" id="bloque_1">
            <div class="row">
                <div class="row" *ngFor="let categoria of categoriasProductos | keyvalue">
                    <h1 class="bebas_font titulo_sec mt-5">{{ categoria.key }}</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 p-3" *ngFor="let producto of categoria.value">
                            <div class="card carta">
                                <img [src]="'../../../assets/images/' + producto.imagen" rel="preload" as="image" class="card-img-top imagen_carta" [alt]="producto.nombre" loading="lazy">
                                <h5 class="card-title mx-4 mt-3">{{ producto.nombre }}</h5>
                                <p class="card-text mx-4">
                                    {{ producto.descripcion | truncate:producto.longitudDescripcion }}
                                    <a id="leer" *ngIf="producto.longitudDescripcion == 25" class="leer-mas" (click)="producto.longitudDescripcion = 1000 ; mostrarDescripcion=false"> <br> Leer más</a>
                                    <a id="leer" *ngIf="producto.longitudDescripcion == 1000" class="leer-menos" (click)="producto.longitudDescripcion = 25; mostrarDescripcion= true"> <br> Leer menos</a>
                                  </p>
                                <p class="card-text mx-4">{{ producto.precio }} €</p>
                                <div class="card-textv d-inline-flex text-center mb-3">
                                  
                                    <div class="col-6">
                                        <button class="btnAnadir btn btn-dark" (click)="carritoService.agregar(producto, 1)">
                                            Añadir
                                        </button>
                                    </div>
                                     
                                    <div class="col-6">
                                        <button class="btnAnadir btn btn-dark" (click)="carritoService.eliminar(producto, 1)">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-5" id="carro">
            <div class="w-100 text-center mt-4" id="pedido_div">
                <h1 class="titulo bebas_font mb-4 mt-3">Tu Pedido</h1>

             
                    
                    <div *ngIf="carritoService.carrito.length > 0">
                        <div *ngFor="let producto of carritoService.carrito">
                          <table class="w-100">
                            <tr>
                              <td class="col-3 text-start">{{ producto.unidades }}</td>
                              <td class="col-6 text-start">{{ producto.producto.nombre }}</td>
                              <td class="col-3 text-end">{{ producto.unidades * producto.producto.precio }}€</td>
                            </tr>
                          </table>
                              
                        </div>
                        <div *ngIf="carritoService.total>0">
                          <h4 class="text-end mt-4 mb-4">Total: {{carritoService.total}} €</h4>
                        </div>
                        <button class="btnAnadir btn btn-dark" routerLink="/carrito">
                            Pagar
                        </button>
                    </div>
          

                <div id="astro" class="astronauta d-flex justify-content-center" *ngIf="carritoService.carrito.length === 0">
                    <img src="../../../assets/images/astronaut.svg" alt="imagen de un astronauta" class="img-fluid">
                </div>
                <div id="aviso" *ngIf="carritoService.carrito.length === 0">
                    <p *ngIf="">Bienvenido.</p>
                    <p>Todavía no has añadido ningún producto. Cuando lo hagas, ¡verás los productos aquí!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
