section{
    font-family: 'Lato-Light';
    color: rgb(225, 217, 183);
    font-size: 18px;
}

.card-text {
    max-height: 3em; /* Establece la altura máxima en 3 líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto se recorta */
    white-space: nowrap; /* Evita el desbordamiento de texto a la siguiente línea */
}

.imagen_carta {
    height: 270px;
    width: auto;
}

.titulo_carta{
    font-size: 60px;
}

.carta {
    color: rgb(225, 217, 183);
    max-width: 300px;
    border: 1px solid  rgb(78, 77, 77);
}

#pedido_div {
    position: sticky;
    top: 10px;
    transform: translate(60px, 0%);
    z-index: 1;
    border: 4px solid rgb(225, 217, 183); 
    border-radius: 40px;
    padding: 20px;
}

.btnSumar{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid  rgb(225, 217, 183);
    color: rgb(225, 217, 183);
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnRestar {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid  rgb(225, 217, 183);
    color: rgb(225, 217, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.btnAnadir{
    border: 2px solid  rgb(225, 217, 183);
    color:rgb(225, 217, 183);
    font-size: 20px;
    border-radius: 25px;
    
}


@media (width < 1200px) {
    #carro{
        display: none;
    }
}



