.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.titulo{
    font-size: 60px;
    color: rgb(225, 217, 183);
}
.container{
    width: 40%;
}

.btn{
    border: 2px solid rgb(225, 217, 183);
    color: rgb(225, 217, 183);
}
.btn:hover{
    background-color: rgb(225, 217, 183,0.1);
}

.imagenConfirmacion{
    width: 300px;
    height: auto;
    border-radius: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (width < 1200px) {
    .container{
        width: 100%;
        padding: 30px;
    }
}

@media (width < 768px) {
    .footer{
        position: auto;
        bottom: auto;
        width: auto;
}}

