.contenido{
    min-height: 67vh;
}
.row p label{
    color: white;
}
.icon {
    color: rgb(225, 217, 183);
    width: 25px;
    margin-right: 1em;
    font-size: 1.3em;
}

.margen{
    margin-left: 43px;
}