<app-header></app-header>
<div class="container contenido">

    <div class="row">
        <h1 class="bebas_font text-center mb-5 titulo_vista ">Donde estamos</h1>
        <div class="offset-2 offset-xl-1 col-lg-4 col-xl-5">
            <p><img class="icon" src="../../../assets/images/telephone.svg" > 985 06 20 18</p>
            <p><img class="icon" src="../../../assets/images/envelope.svg" > kenkoassianfood@gmail.com</p>
            <p><img class="icon" src="../../../assets/images/alarm.svg"> Horario cocina</p>
            <p class="margen">De Jueves a Lunes: </p>
            <p class="margen">Comidas: 13:30 a 15:30.</p>
            <p class="margen">Cenas: 20:15 a 23:00.</p>
            <p class="margen">Martes y Miércoles cerrado.</p>
            <p><img class="icon" src="../../../assets/images/geo-alt.svg"> C/Marqués, Aviles, 33401</p>
        </div>
        <div class="col-lg-5 text-center">
      
            <iframe class="mt-3" width="400" height="250" style="border:0" Loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=Centro%20Integrado%20de%20Formaci%C3%B3n%20Profesional%20Avil%C3%A9s&key=AIzaSyCAon92JxkDdJaXCufdywZOGoVW92BB1vs">
            </iframe>
        </div>     
    </div>
</div>
<app-footer></app-footer>