@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: 'Lato-Light';
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(assets/fonts/BebasNeue.ttf);
}

.roboto_font{
    font-family: 'Lato-Regular';
}

.bebas_font{
    font-family: 'BebasNeue';
}

.container{
    font-family: 'Lato-Light';
    color: rgb(225, 217, 183);
    font-size: 18px;
}

.titulo_vista{
    font-size: 50px;
}
